/*HEADER INCLUYE TITULO, TEXTAREAS BOTON LIMPIAR Y BOTON DE AGREGAR*/

h1, h3{
    margin: 0.5em;
    color:var(--color-amarillo);
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

h3{
   margin:1.5em; 
}

header nav{
    
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    
}

textarea::placeholder {
    padding-left: 3em;
}

#nuevaTarea, #nuevaDescripcion {
    /*background: rgb(212, 125, 56);*/
    /*box-shadow: 5px 5px 7px rgb(252, 252, 120), -5px -5px 7px rgb(252, 252, 120);*/
    font-size: medium;
    line-height: 2em;
    width: 30%;
    padding-left: 10px;
    font-family: var(--font-raleway);
}

#nuevaDescripcion{
    width: 60%;
}

#contenedorBtnHeader{
    display:flex;
    flex-direction: row;
}
header button{
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin: 0%;
    margin-right: 10px;
}

header button img{
    width: 40px;        
}

