@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url(header.css);
@import url(historial.css);
@import url(tablero.css);
@import url(notas.css);
@import url(prompt.css);


:root {
    --font-raleway: "Raleway", sans-serif;
    --font-lato: "Lato", sans-serif;
    --color-amarillo:rgb(252, 252, 120);
    --color-marronOscuro:rgb(117, 60, 17);
    --color-marronClaro:rgb(212, 125, 56);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*como va a calcular el tamaño del elemento, en el width y height que le demos va a incluir a las medidas de su margin y padding*/
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(../img/fondo.PNG) center/cover;
    font-family: var(--font-raleway);

}


#marco{
    max-width: 90%;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--color-marronClaro);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


h4,p{
    font-size: 1em;
}


button:hover {
transform: scale(.9);
}


/*Diseño Responsive*/
@media (max-width: 1000px) {
    
    header nav{
        flex-direction: column;
        
    }

    #nuevaTarea, #nuevaDescripcion {
        width: 100%;
       
    }

    main{
        flex-direction: column;
    }

    #tablero{
        max-width: 90%;   
    }

    #contenedorNotas{
       flex-direction: column;
        
    }
    .imgTitulo{
            width: 40%;
            margin-left: 0.2em;
            margin-right: 0.2em;
    }
    #panelHistorial{
        height: 100px;
        
    }
}

@media (max-width: 564px) {
    .imgTitulo{
        width: 50%;
        margin: auto;
        padding: auto;
    }
}

@media (max-width: 470px) {

}