@import url(prompt.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*como va a calcular el tamaño del elemento, en el width y height que le demos va a incluir a las medidas de su margin y padding*/
    font-family: 'Lato', sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(../img/fondoA.jpg) center/cover;

}
#marco{
    max-width: 90%;
    height: 100%;
    background-color: rgb(212, 125, 56);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}




/*HEADER INCLUYE TITULO, TEXTAREAS Y BOTON DE AGREGAR*/
header h1{
    margin: 0.5em;
    color:rgb(252, 252, 120);
    font-weight: bolder;
    text-shadow: 1px 1px 2px grey;
}

header button{
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin: 0%;
    margin-right: 10px;
}

header button img{
    width: 40px;        
}

header nav{
    
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    
}

textarea::placeholder {
    padding-left: 10px;
}

#nuevaTarea, #nuevaDescripcion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    line-height: 2.5em;
    width: 30%;
    padding-left: 10px;
    
}

#nuevaDescripcion{
    width: 60%;
}



/*MAIN: INCLUYE TABLERO TO DO LIST, CHECKED LIST e HISTORIAL*/
#tablero{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background: url(../img/tableroFondo.JPG) center;
    max-width: 95%;
    min-height: 500px; 
    border: 20px solid rgb(117, 60, 17);
    border-radius: 20px;
    margin: auto; 
    box-shadow: 5px 5px 5px 5px; 
    box-sizing:border-box;
    
}
#estadoNotas{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.imgTitulo{
    width: 200px;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

#contenedorNotas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

#todoList, #checkedList{
width: 500px;    
margin-top: 20px; 
margin-left: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}




/*ESTILOS PARA NOTAS CREADAS*/
.tarea{
    display: flex;          
    flex-direction: column;               
    justify-content:start;
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px;
    background-color: rgb(252, 252, 120);
    box-shadow: 5px 5px 15px black;
    text-align: center;
    padding: 2.5em;
}


.clip {
    position: absolute;
    top: 0px; 
    left: 45%; 
    filter: drop-shadow(2px 1px px rgb(40, 38, 38));
}

.tituloTarea, .descripcion{ 
   padding-top: 1px;
   padding-left: 15px;
  
}

.checked, .edit, .delete{
    background: none;
    position: absolute;
    left: 138px;
    width: 40px;
    bottom: 2px;          
    border: none;
    filter:drop-shadow(1px 2px 1px rgb(56, 55, 55));
}

.edit{
    left:2px;
}

.delete{
    top: 2px;
    bottom: 150px;
}

.checked img, .edit img, .delete img{
    width: 30px;
      
}

/*HISTORIAL*/
#historial{
    position: relative;
    top:20px;
    margin: auto;
    bottom: 30px;
    width: 95%;
    height: 200px;
    color:#1c1a1a;
    background: white;
    overflow: hidden;
    overflow-y: scroll;
    background-image: none;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 20px;
    box-sizing: border-box;
    object-fit: contain;
}

#historial h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tareaArchivadas{
    margin-left: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: left;
}




/*Diseño Responsive*/
@media (max-width: 1056px) {
    .imgTitulo{
        width: 200px;
        height: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 806px) {
    .imgTitulo{
        width: 200px;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 655px) {
    .imgTitulo{
        width: 180px;
        height: 80px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 564px) {
    .imgTitulo{
        width: 100px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
